fastapi==0.115.12
uvicorn==0.34.3

streamlit==1.47.1

mlflow==3.14.0

dvc==3.67.1
evidently==0.7.21

pandas==2.2.3
numpy==2.2.6

scikit-learn==1.6.1
scipy==1.15.3

xgboost==3.0.5
joblib==1.5.1

matplotlib==3.10.9
seaborn==0.13.2
plotly==5.24.1

PyYAML==6.0.2
python-dotenv==1.1.1

requests==2.32.4
psutil==7.0.0

pytest==8.4.1
